*{
    margin: 0;
    padding: 0;
}
.header{
   height: 100vh;
   width:100%;
    /*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url("webimages/image1.jpg");*/
    background-image: url(./images/Jeremy-Buendia-Posing-Gym.webp);
    background-position: center;
    background-size:cover;
    position: relative;
    border-width: 50px;
    border-color: black;
    background-color: wheat;
}

.bodytag{
    background-color: red;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 100px;
    size: 20px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: blue;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: blue;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: blue;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: blue;
    border: 1px solid blueviolet;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
}
.hero-btn:hover{
    border: 1px solid green;
    background: brown;
    transition: 0.5s;
}




.features{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/hendrickson.jpg);
    
    
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.features-col{
    flex-basis: 31%;
    background: blueviolet;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    
}
h3{
    text-align: center;
    font-weight: 900;
    margin: 10px 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/ulissses.jpg);
    font-size: xx-large;
    
}
.features-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}




.centers{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.centers-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.centers-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(0,0 ,0 ,0.4 );
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: blue;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1%;
}

.Facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    color: #000;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
    background: white;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 100px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/maxresdefault.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta img{
    width: 100%;
    border-radius: 10px;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: larger;
    color: blue;
}
p{
    font-weight: 700;
    font-size: large;
}
.icons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.icons-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    border-radius: 10px;
    position: relative;
    text-align: center;
    
}
footer{
    width: 100%;
    position: relative;
    top: 50px;
    background: red;
  
    
  }
  footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a{
    color: #fff;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  
  }
  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
  footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #eb2f06;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #eb2f06;
    transition: all 0.3s ease-in-out;
  }
  .content .right input[type="submit"]:hover{
    background: none;
    color:  #eb2f06;
  }
  footer .content .media-icons a{
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
  }
  .content .media-icons a:hover{
    border-color: #eb2f06;
  }
  footer .bottom{
    width: 100%;
    text-align: left;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
  
  }
  footer .bottom a{
    color: #eb2f06;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #eb2f06;
  }
  @media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
  }
  @media (max-width:950px){
    footer .content .box{
      width: 50%;
    }
    .content .right{
      margin-top: 40px;
    }
  }
  @media (max-width:560px){
    footer{
      position: relative;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
      
    }
  
  }
  .services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #eb2f06;
  }
  .services-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
  }
  .services-col img{
    width: 100%;
    border-radius: 10px;
    
  }
  .services-col p{
    padding: 0;
    font-style: italic;
  }
  .services-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    font-style: oblique;
    font-weight: bold;
  }
  


  .container{
  
    max-width: 1350px;
    width: 60%;
    background: black;
    border-radius: 12px;
    margin: 0 20px;
    align-content: center;
  }
  .container .content{
    display: flex;
   
    justify-content: space-between;
    padding: 25px 20px;
  }
  .content .image-box{
    max-width: 55%;
  }
  .content .image-box img{
    width: 100%;
  }
  .content .topic{
    font-size: 22px;
    font-weight: 500;
    color: #ba24c2;
  }
  .content form{
    width: 40%;
    margin-right: 30px;
  }
  .content .input-box{
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
  }
  .content .input-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: #fae9fb;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  .content .input-box input:valid{
    border-color: #ba24c2;
    background-color: #fff;
  }
  .content .input-box label{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #636c72;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }

  .content .input-box input:valid ~ label{
    top: 0;
    left: 12px;
    display: 14px;
    color: #ba24c2;
    background: #fff;
  }
  .content .message-box{
    min-height: 100px;
    position: relative;
  }
  .content .message-box textarea{
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    background: #fae9fb;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
  
  }
  .content .message-box textarea:focus{
    border-color: #ba24c2;
    background-color: #fff;
  }
  .content .message-box label{
    position: absolute;
    font-size: 16px;
    color: #636c72;
    left: 18px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .content .message-box textarea:focus ~ label{
    left: 12px;
    top: -10px;
    color: #ba24c2;
    font-size: 14px;
    background: #fff;
  }
  .content .input-box input[type="submit"]{
    color: #fff;
    background: #ba24c2;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .content .input-box input[type="submit"]:hover{
    background-color: #d43ddb;
  }

  
  